language: php
php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
matrix:
  fast_finish: true
before_script:
  - composer install -n --prefer-source
  - mkdir -p build/logs
script:
  - phpunit
after_script:
  - php vendor/bin/coveralls -v
